
.header{
    width: 100%;
    height: 70px;
  
}
.nav__wrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo{
    /* width: 10rem;
    height: 3rem;  */
    align-items: center;
    display: flex;
    column-gap: 0.5rem;
   
 }
 .logo h2{
   color: var(--heading-color);
   font-weight: 700 !important;
   font-size: 1.8rem;
   
 }
 .logo h2:hover{
   color: var(--primary-color);
   transition: 0.3s;
   cursor: pointer;
 }
 
 /* .logo1{
    width: 10rem;
    height: 3rem;
 } */
 .logo__img{
   background-color: var(--primary-color);
   width:40px;
   height: 40px;
   padding:11.5px;
   border-radius: 50px;
   line-height:40px ;
   display: flex;
   align-items: center;
   justify-content: center;
  
 }
 .logo__img img{
   width: 200%;
   height: 200%;
 }
 .menu{
   display: flex;
   align-items: center;
   column-gap: 2.7rem;
 }
.menu li{
color: var(--heading-color);
font-weight: 600 !important;
cursor: pointer;
transition: 0.3s;
font-size: 1.1rem;
 }
 .menu li:hover{
   color: var(--primary-color);

 }
 .nav__right{
   display: flex;
   align-items: center ;
   column-gap: 1.5rem;
 }
 .register_btn{
   border: none;
   outline: none; 
  align-items: center;
  justify-content: center;
   width: 80px;
   height: 50px;
   color: #fff;
   background-color: var(--primary-color);
   border-radius: 5px;
   font-family: var(--font-name);
   font-size: 1rem;
   font-weight: 500;
   cursor: pointer;
   margin-top: 3px;
 }
 .mobile_menu{
color: var(--heading-color);
font-size: 1.3rem;
cursor: pointer;
display: none;
 }
.sticky__header {
width: 100%;
position: sticky;
top: 0;
left: 0;
z-index: 99;
background-color: #fff;
 }
 @media screen and (max-width: 780px){
  .logo{
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;

  }
  .menu{
    display: none;

  }
  .menu-mobile{
    position: absolute;
    display: block;
    list-style: none;
    background-color: var(--primary-color);
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 300%;
  }
  .menu li{
   color: var(--heading-color);
   text-align: center;
   padding: 32px;
   width: 100%;
   transition:all 0.5s ease;
  }
.register_btn{
  display: none;
}
.register_btn-mobile{
  color: var(--heading-color);
  display: block;
  position: absolute;
   text-align: center;
   padding: 32px;
   width: 100%;
   transition:all 0.5s ease;
  border: none;
 
 
}
.mobile_menu{
  display: block;
  position: absolute;
  font-size: 30px;
  color: var(--heading-color);
  border: none;
  outline: none;
  top: 15px;
  left: 45rem;
 
}



 }